.project {
      //background-color: #eee;

      &__container {
         margin: 0 auto;
         max-width: 120rem;
         display: flex;
         flex-direction: column;
         text-align: center;
         padding: 10rem 0 3rem 0;
         width: 100%;
         align-items: center;
         justify-content: center;
      }

      &__title {
         font-size: 4rem;
         font-weight: 400;
         text-transform: uppercase;
         letter-spacing: .2rem;
         color: #29323c;

         span {
            color: #fff;
         }
      }

      // &__all-projects {

      // }

      &__item {
         display: flex;
         align-items: center;
         justify-content: center;
         height: 38rem;
         overflow: hidden;

         &:nth-child(even) {
            flex-direction: row-reverse;
         }
      }

      &__info {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         height: 100%;
         padding: 3rem;
         flex-basis: 50%;
         background-image: linear-gradient(140deg, #383838 10%, #DABAB7 100%);
         color: #fff;
         z-index: 100;

         h1, h2 {
            margin-bottom: 1rem;
         }

         h1 {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 4rem;
            font-weight: 400;
         }

         /* h2 {
            font-size: 2.5rem;
            font-weight: 400;
         }

         p {
            font-size: 1.5rem;
            letter-spacing: .05rem;
            text-align: start;
            line-height: 2.2rem;
         } */
      }

      &__img {
         flex-basis: 50%;
         position: relative;
         overflow: hidden;
         transition: transform .3s ease-in-out;

         img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: -1;
         }

         &:hover {
            transform: scale(1.2);
         }

         // Grey Overlay
         &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
            opacity: 0.5;
         }

      }
}